name: Lint Code Base
on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  ui-lint:
    name: UI-Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch || null }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 25
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install UI deps
        working-directory: frontend
        run: npm ci

      - uses: reviewdog/action-eslint@2fee6dd72a5419ff4113f694e2068d2a03bb35dd # v1.33.2
        with:
          reporter: github-pr-review
          eslint_flags: "--ext .ts,.svelte --config eslint.config.js src/"
          fail_level: "error"
          workdir: "frontend"
          filter_mode: diff_context
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: reviewdog/action-stylelint@dd2b435cc6a7c82705307a9dee740c9bbaa10411 # v1.30.2
        with:
          reporter: github-pr-review
          workdir: "frontend"
          stylelint_config: "stylelint.config.mjs"
          fail_level: "error"
          filter_mode: diff_context
          github_token: ${{ secrets.GITHUB_TOKEN }}

  backend-java-lint:
    name: Backend Java Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto' 
          cache: 'maven'
      - name: SonarQube Scan (Java)
        working-directory: backend/
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
            -Dsonar.junit.reportPaths=target/surefire-reports
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  backend-python-lint:
    name: Backend Python Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14' 
          cache: 'pip'
    
      - name: Install dependencies & Run Tests
        working-directory: pokemon_data_loader/
        run: |
          pip install -r requirements.txt
#          pip install pytest pytest-cov todo: add back in when we have tests
#          pytest --cov=. --cov-report=xml  
      - name: SonarQube Scan (Python)
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectBaseDir: pokemon_data_loader/
          args: >
            -Dsonar.organization=${{vars.SONAR_ORGANISATION_KEY}}
            -Dsonar.projectName="Nuzlucke"
            -Dsonar.projectKey=${{vars.SONAR_PROJECT_KEY}}
